*{
    margin:0px;
    padding: 0px
}
@font-face {
    font-family: 'aileron';
    src: url('C:\Users\Admin\Downloads\commerce\aileron_0102\Aileron-BlackItalic.otf');
}
body {
    padding: 10px;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.title{
    text-align: center;
    font-family: 'aileron';
}
.item_container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    /* Additional styling for hover or click effects */
}
.i_content{
    margin:10px;
    font-weight: bold;
}

a{
    color:black
}
