{% extends 'auctions/layout.html' %}
{% block title %} Add new listing {% endblock %}
{% block body %}
    <h2>Add new listing</h2>
    <div style="margin: 10px;">
        <form action="{% url 'create' %}" method="post" enctype= multipart/form-data>
            {% csrf_token %}
            {% for field in form %}
                <div style="margin:10px; padding:5px">
                    {{ field.error_messages }}
                    {{ field.label_tag }}<br>{{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="margin-left:13px">Submit</button>
        </form>
    </div>
        
    
{% endblock%}